body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    transition: opacity 0.3s ease;
}

.header {
    background-color: white;
    padding: 10px 0;
    position: relative; /* Để đảm bảo sticky header hiển thị trên header chính */
    z-index: 10;
}

.logo {
    display: flex;
    align-items: center;
    background-color: white; 
    padding: 5px 5px 15px 5px;
}

.ảnh {
    height: 90px; 
    margin-right: 20px; 
}

.title {
    white-space: nowrap; 
}

.line1, .line2 {
    display: block;
    color: #025ba1; 
    font-size: 20px; 
    font-weight: bold;
    margin-top: -10px;
}

.line2 {
    font-size: 16px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 5px 5px 15px 5px;
}


.hotline {
    font-size: 18px;
    color: #025ba1;
    font-weight: bold;
}

.email {
    font-size: 18px;
    color: #025ba1;
    font-weight: bold; 
}

.hotline img {
    width: 33px; 
    height: auto; 
    vertical-align: middle;
}
.email img {
    width: 33px; 
    height: auto; 
    vertical-align: middle; 
}
.facebook img {
    width: 33px; 
    height: auto; 
    vertical-align: middle; 
}
.youtube img {
    width: 41px; 
    height: auto; 
    vertical-align: middle; 
}
.search img {
    width: 38px; 
    height: auto; 
    vertical-align: middle; 
}

.navbar .email {
    margin-left: 20px; 
    margin-right: 20px;
}
.navbar .youtube {
    margin-left: 20px; 
    margin-right: 20px;
}

.search-bar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #025ba1;
    padding: 10px 0;
    text-align: center;
    transform: translateY(-100%);
    transition: transform 0.5s ease;
    z-index: 1000;
}
.search-bar-container.active {
    transform: translateY(0);
}
.search-bar {
    width: 70%;  /* Adjusted to make space for the button */
    padding: 10px;
    border: 1px solid #ccc;
    vertical-align: middle;
}
.search-button {
    padding: 10px;
    border: none;
    background-color: #004080;
    color: white;
    cursor: pointer;
    font-size: 16px;
    vertical-align: middle;
}
.search-button:hover {
    background-color: #003366; 
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    transition: padding-top 0.5s ease;
}
.container.search-active {
    padding-top: 60px; /* Adjust this value based on the height of your search bar container */
}

.tieude {
    display: flex;
    width: 100%;
    background-color:#025ba1;
    flex: 100%;
    padding: 0px;
    align-items: center;
    justify-content: center;
}

.tieude a {
    color: white;
    padding: 14px 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tieude a:hover {
    background-color:#fff;
    color: #025ba1;
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.tieude #selected {
    background-color:#fff;
    color: #025ba1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #025ba1;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
    min-width: 150px;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
    text-align: left;
    white-space: nowrap;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.dropdown-content a:hover {
    background-color: #fff;
    color: #025ba1;
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.sub-dropdown {
    position: relative;
}

.sub-dropdown-content {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #025ba1;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
    min-width: 150px;
}

.sub-dropdown-content a {
    padding: 12px 16px;
    color: white;
    text-decoration: none;
    display: block;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.sub-dropdown-content a:hover {
    background-color: #fff;
    color: #025ba1;
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.sub-dropdown:hover .sub-dropdown-content {
    display: block;
}

.header{
    margin-bottom: 0;
    padding-bottom: 0;
}

footer {
    background-color: #025ba1;
    color: white;
    padding: 20px 0;
}

.chantrangweb {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-column {
    flex: 1;
    margin: 0 10px;
}

.footer-column h3 {
    border-bottom: 2px solid white;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}

.textwidget ul {
    list-style: none;
    padding: 0;
}

.textwidget ul li {
    padding: 5px 0;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-size: 15px;
}

.textwidget ul li:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.map-container {
    width: 100%;
    max-width: 600px;
}

.map-container iframe {
    width: 100%;
    height: 150px;
    border: 0;
}

.special-link {
    color: white; 
    text-decoration: none; 
}
.special-link:hover {
    color: white; 
    text-decoration: none; 
}

/*Display*/

.display-container {
    display: flex;
    align-items: center;
    padding: 0;  
    height: auto; 
    height: 40px;
    justify-content: space-between;
}

.iconchatbox {
    width: 20px;
    height: auto;
}

.display {
    color: #025ba1;
    padding: 0 20px;
    display: flex;
    margin-left: 148px; 
    font-weight: bolder;
}

.display p{
    color:#025ba1;
    font-size: 16px;
}

.display p a{
    color: inherit; /* Kế thừa màu chữ từ phần tử cha (.display) */
    text-decoration: none; /* Bỏ gạch chân cho đường liên kết */
    transition: transform 0.3s ease; /* Hiệu ứng chuyển đổi màu khi hover */
}

hr.dongke {
    border: 0;
    height: 2px; /* Độ dày của dòng kẻ */
    background-color: #025ba1; /* Màu sắc của dòng kẻ */
    margin: 0 0 20px 0;
}

/*content*/

#scroll-to-top {
    display: none; /* Ẩn nút ban đầu */
    position: fixed; /* Định vị cố định ở góc dưới bên phải */
    bottom: 80px; /* Khoảng cách từ dưới cùng của màn hình */
    right: 20px; /* Khoảng cách từ bên phải của màn hình */
    z-index: 1000; /* Đảm bảo nút nằm trên các phần tử khác */
    border: none; /* Bỏ đường viền */
    outline: none; /* Bỏ viền khi nhấn */
    background-color: #025ba1; /* Màu nền */
    color: white; /* Màu chữ */
    cursor: pointer; /* Con trỏ chuột khi di chuyển qua nút */
    padding: 10px 15px; /* Khoảng cách bên trong nút */
    border-radius: 5px; /* Bo tròn các góc */
    font-size: 16px; /* Kích thước chữ */
}

/*Sticky header*/
.sticky-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.5s;
    z-index: 1000; /* Để hiển thị trên các thành phần khác */
    pointer-events: none; /* Để tránh tương tác khi header ẩn */
}

.sticky-header.show {
    opacity: 1;
    pointer-events: auto; /* Để cho phép tương tác khi header hiện */
}



.image-container {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
}

.back {
    width: 100%;
    display: block;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px; /* Chiều cao của lớp mờ */
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
    display: flex;
    align-items: center;
    justify-content: center;
}

.explore-button {
    padding: 10px 25px;
    background-color: #fff;
    color: #000;
    border: none;
    cursor: pointer;
    font-size: 20px;
    border-radius: 50px;
    text-transform: uppercase;
    text-decoration: none;
    transform: translateY(-20px); /* Di chuyển nút lên cao hơn */
    position: relative;
    transition: all 0.3s ease; /* Thêm transition cho tất cả các thay đổi */
}

.explore-button::before {
    content: "";
    position: absolute;
    top: -5px; left: -5px; right: -5px; bottom: -5px;
    border: 1px dotted #002a4b;
    border-radius: 50px; /* Để viền dotted bo tròn */
    pointer-events: none; /* Để tránh ảnh hưởng đến sự tương tác của nút */
}

.explore-button:hover {
    background-color: #002860;
    color: #ffffff;
}

/*Slide ảnh nổi bật*/

.anhslide {
    width: 500px;
    height: auto;
}

.slideshow-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 10px;
    
}

.slideshow {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
    height: auto;
    justify-content: center; /* Căn giữa các slide */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.159);
}

.slide {
    flex: 0 0 33.33%; /* Đảm bảo các slide có cùng kích thước */
    transition: transform 0.5s ease, opacity 0.5s ease;
    position: relative;
    overflow: hidden; /* Đảm bảo ẩn nội dung vượt ra khỏi phạm vi */
}

.slide img {
    width: 100%;
    border-radius: 10px;
}

.slide.left,
.slide.right {
    transform: scale(0.9);
    opacity: 0.5;
    z-index: 997; /* Ensure active slide is on top */
}

.slide.active {
    transform: scale(1.5); /* Adjust scale factor as needed */
    opacity: 1;
    z-index: 998; /* Ensure active slide is on top */
    cursor: pointer;
}

.slide.active img {
    border-radius: 10px;
}


.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #025ca17d;
    color: white;
    border: none;
    padding: 15px 15px;
    cursor: pointer;
    border-radius: 5px;
    z-index: 999;
}

.prev {
    left: 30px;
}

.next {
    right: 30px;
}

.container1{
    margin:10px 0;
}

/*Mô tả*/
.container2 {
    display: flex;
    align-items: center; /* căn giữa theo chiều dọc */
    justify-content: center; /* căn giữa theo chiều ngang */
    height: auto; /* chỉ định chiều cao, thay thế bằng giá trị thích hợp */
    margin: 10px 0;
    background-color: #dbecff;
    
}

.image {
    flex: 1; /* ảnh chiếm phần trăm 50% */
    width: 50%;
    height: auto;
    max-width: 100%; /* giới hạn chiều rộng của ảnh không vượt quá phần tử cha */
}

.image img {
    width: 100%; /* thiết lập chiều rộng tuyệt đối cho ảnh */
    height: auto; /* điều chỉnh chiều cao tự động */
}

.description {
    flex: 1; /* mô tả chiếm phần trăm 50% */
    padding: 0 20px; /* khoảng cách từ lề ngoài vào cho mô tả */
    text-align: center;
}

/*Collection*/

.collection {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    grid-auto-rows: max-content;
}

.item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    width: 50%; /* Giảm kích thước của item xuống một nửa */
}

.item img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Đảm bảo ảnh lấp đầy phần tử */
    object-position: center;
}

.item:hover img {
    transform: scale(1.05); /* Scale lên 5% khi hover để tăng sự tương tác */
    transition: width 0.5s ease; /* Độ trễ khi thay đổi kích thước */
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none; /* Để nút không che phủ ảnh khi không hover */
}

.item:hover .overlay {
    opacity: 1; /* Hiển thị overlay khi hover */
    pointer-events: auto; /* Kích hoạt các nút khi hover */
}

.tenanh {
    color: white;
    font-size: 14px;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 3px;
    max-width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; /* Chuyển thành dấu chấm nếu tiêu đề dài */
}

.save-button {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

h2{
    text-align: center;
    line-height: 24px;
    color: #025ba1;
    padding: 10px 0;
}
