
.pdf-container {
    display: none; /* Ẩn PDF ban đầu */
    margin-top: 5px;
}

.pdf-container iframe {
    width: 100%;
    height: 800px; /* Chiều cao tùy ý */
    padding-top: 20px;
}

.content h2 {
    margin: 0 auto;
    color:#025ba1;
    text-transform: uppercase;
}

.content h3 {
    margin: 10px 0;
    cursor: pointer;
    font-size: 18px;
    color:#343f52;
    transition: color 0.1s ease, text-decoration 0.1s ease; /* Add smooth transition effect */
}

figcaption{
    font-size: 14px;
    font-style: italic;
    text-align: left;
    padding-top: 10px;
}

.content h3:hover{
    color:#025ba1;
}

.bai1, .bai2, .bai3, .bai4, .bai5, .bai6 {
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(81, 81, 81, 0.1); /* Add shadow */
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #ffffff;
    align-items: center;
}

/* Hiệu ứng xoay mũi tên */
.content h3 i {
    transition: transform 0.3s ease;
    float: left;
    margin-right: 15px;
    margin-left: 5px;
}

.content h3.open i {
    transform: rotate(180deg);
}
