.anhbia{
    display: flex;
    margin-bottom: 20px; /* Khoảng cách từ ảnh bìa đến phần nội dung */
    width: 100%;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.anhbia:hover {
    transform: scale(1.02); /* Phóng to ảnh khi hover */
    opacity: 0.9; /* Thay đổi độ mờ khi hover */
}

.content{
    margin-bottom: 20px;
}

.content p{
    text-align: justify;
    font-family: "Source Sans Pro", sans-serif;  
    line-height: 24px;
    font-weight: 400;
    word-wrap: break-word;
}

.content h2{
    text-align: center;
    line-height: 24px;
    color: #025ba1;
}

.content p, li, ul {
    text-align: justify;
    line-height: 24px;
    font-weight: 400;
    word-wrap: break-word;
    margin: 5px 0 5px 0;
}

.chitietcontent {
    margin-top: 10PX;
}