body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    transition: opacity 0.3s ease;
}

.header {
    background-color: white;
    padding: 10px 0 0 0;
    position: relative; /* Để đảm bảo sticky header hiển thị trên header chính */
    z-index: 10;
}

.logo {
    display: flex;
    align-items: center;
    background-color: white; 
    padding: 5px 5px 15px 5px;
}

.ảnh {
    height: 90px; 
    margin-right: 20px; 
}

.title {
    white-space: nowrap; 
}

.line1, .line2 {
    display: block;
    color: #025ba1; 
    font-size: 20px; 
    font-weight: bold;
    margin-top: -10px;
}

.line2 {
    font-size: 16px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 5px 5px 15px 5px;
}


.hotline {
    font-size: 18px;
    color: #025ba1;
    font-weight: bold;
}

.email {
    font-size: 18px;
    color: #025ba1;
    font-weight: bold; 
}

.hotline img {
    width: 33px; 
    height: auto; 
    vertical-align: middle;
}
.email img {
    width: 33px; 
    height: auto; 
    vertical-align: middle; 
}
.facebook img {
    width: 33px; 
    height: auto; 
    vertical-align: middle; 
}
.youtube img {
    width: 41px; 
    height: auto; 
    vertical-align: middle; 
}
.search img {
    width: 38px; 
    height: auto; 
    vertical-align: middle; 
}

.navbar .email {
    margin-left: 20px; 
    margin-right: 20px;
}
.navbar .youtube {
    margin-left: 20px; 
    margin-right: 20px;
}

.search-bar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #025ba1;
    padding: 10px 0;
    text-align: center;
    transform: translateY(-100%);
    transition: transform 0.5s ease;
    z-index: 1000;
}
.search-bar-container.active {
    transform: translateY(0);
}
.search-bar {
    width: 70%;  /* Adjusted to make space for the button */
    padding: 10px;
    border: 1px solid #ccc;
    vertical-align: middle;
}
.search-button {
    padding: 10px;
    border: none;
    background-color: #004080;
    color: white;
    cursor: pointer;
    font-size: 16px;
    vertical-align: middle;
}
.search-button:hover {
    background-color: #003366; 
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    transition: padding-top 0.5s ease;
}
.container.search-active {
    padding-top: 60px; /* Adjust this value based on the height of your search bar container */
}

.tieude {
    display: flex;
    width: 100%;
    background-color:#025ba1;
    flex: 100%;
    padding: 0px;
    align-items: center;
    justify-content: center;
}

.tieude a {
    color: white;
    padding: 14px 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tieude a:hover {
    background-color:#fff;
    color: #025ba1;
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.tieude #selected {
    background-color:#fff;
    color: #025ba1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #025ba1;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
    min-width: 150px;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
    text-align: left;
    white-space: nowrap;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.dropdown-content a:hover {
    background-color: #fff;
    color: #025ba1;
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.sub-dropdown {
    position: relative;
}

.sub-dropdown-content {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #025ba1;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
    min-width: 150px;
}

.sub-dropdown-content a {
    padding: 12px 16px;
    color: white;
    text-decoration: none;
    display: block;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.sub-dropdown-content a:hover {
    background-color: #fff;
    color: #025ba1;
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.sub-dropdown:hover .sub-dropdown-content {
    display: block;
}

.image {
    width: 100%;
    height: auto;
    display: block;
}


footer {
    background-color: #025ba1;
    color: white;
    padding: 20px 0;
}

.chantrangweb {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-column {
    flex: 1;
    margin: 0 10px;
}

.footer-column h3 {
    border-bottom: 2px solid white;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}

.textwidget ul {
    list-style: none;
    padding: 0;
}

.textwidget ul li {
    padding: 5px 0;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-size: 15px;
}

.textwidget ul li:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.map-container {
    width: 100%;
    max-width: 600px;
}

.map-container iframe {
    width: 100%;
    height: 150px;
    border: 0;
}

.special-link {
    color: white; 
    text-decoration: none; 
}
.special-link:hover {
    color: white; 
    text-decoration: none; 
}

/*trượt thanh*/
#scroll-to-top {
    display: none; /* Ẩn nút ban đầu */
    position: fixed; /* Định vị cố định ở góc dưới bên phải */
    bottom: 80px; /* Khoảng cách từ dưới cùng của màn hình */
    right: 20px; /* Khoảng cách từ bên phải của màn hình */
    z-index: 1000; /* Đảm bảo nút nằm trên các phần tử khác */
    border: none; /* Bỏ đường viền */
    outline: none; /* Bỏ viền khi nhấn */
    background-color: #025ba1; /* Màu nền */
    color: white; /* Màu chữ */
    cursor: pointer; /* Con trỏ chuột khi di chuyển qua nút */
    padding: 10px 15px; /* Khoảng cách bên trong nút */
    border-radius: 5px; /* Bo tròn các góc */
    font-size: 16px; /* Kích thước chữ */
}

#scroll-to-top:hover {
    background-color: #003366; /* Màu nền khi di chuột qua nút */
}

main {
    background-color: white;
    padding: 0px 0px;
}

.display-container {
    display: flex;
    align-items: center;
    padding: 0;  
    height: auto; 
    height: 40px;
    justify-content: space-between;
}

.iconchatbox {
    width: 20px;
    height: auto;
}

a {
    text-decoration: none; 
    color: inherit; 
}

h1  {
    font-size: 16px; 
    color:#025ba1;
}

hr.dongke {
    border: 0;
    height: 2px; /* Độ dày của dòng kẻ */
    background-color: #025ba1; /* Màu sắc của dòng kẻ */
    margin: 0 0 20px 0 ;
}
main {
    background-color: white;
    padding: 0px 0px;
}
.container1 {
    display: flex;
    align-items: flex-start;
    padding: 0 20px 0 20px;
    margin: 20px 140px 20px 140px;
}

hr.sidegach {
    border: 0;
    background-color: #004080;
    height: 1px;
}

.right-container {
    width: 25%; /* Chiếm 1/4 chiều rộng của container1 */
     /* Khoảng cách giữa right-container và cạnh trái của nó */
    padding: 0 0 0 10px;
}

.sidebar {
    width: 300px; /* Đặt chiều rộng cố định */
    height: auto; /* Chiều cao tự động dựa trên nội dung */
    color: #025ba1;
    background-color: #dce9f2fe;
}

.sidebar-item ul {
    list-style-type: none;
    padding: 0;
    margin: 0; /* Xóa khoảng cách mặc định của ul */
}

.sidebar-item ul li {
    margin: 0;
}

.sidebar-item ul li a {
    display: block;
    color: #025ba1;
    padding: 14px 20px;
    font-weight: bold;
    text-align: left;
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-bottom: 1px solid #025ba1;
}

.sidebar-item ul li a:hover {
    background-color: #025ba1;
    color: white;
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.sidebar-item ul li a.selected {
    background-color: #025ba1;
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


.content {
    flex: 3; /* Sử dụng không gian còn lại cho nội dung */
    padding: 0 10px 0 30px;
    width: 75%;
}

.content h2 {
    margin: 0 ;
    color:#025ba1;
    text-transform: uppercase;
}

.quydinh {
    max-width: 648px;
    height:auto;
}

.content p {
    text-align: center;
    margin:0;
}

.iconchatbox {
    width: 20px;
    height: auto;
}

.menu-title {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 14px 20px;
    font-weight: bold;
    border-bottom: 1px solid #025ba1;
}

.menu-title .arrow {
    margin-right: 10px;
    transition: transform 0.3s ease;
}

.menu {
    display: none;
    padding-left: 20px;
}

.active > .menu {
    display: block;
}

.active > .menu-title .arrow {
    transform: rotate(90deg);
}

/*diem chuan*/
.diemthi {
    width: 848px;
    height:auto;
}

.diemthip {
    font-size: 14px;
}

.display {
    color: #025ba1;
    padding: 0 20px;
    display: flex;
    margin-left: 148px; 
    font-weight: bolder;
}

.display p{
    color:#025ba1;
    font-size: 16px;
}

.display p a{
    color: inherit; /* Kế thừa màu chữ từ phần tử cha (.display) */
    text-decoration: none; /* Bỏ gạch chân cho đường liên kết */
    transition: transform 0.3s ease; /* Hiệu ứng chuyển đổi màu khi hover */
}

hr.dongke {
    border: 0;
    height: 2px; /* Độ dày của dòng kẻ */
    background-color: #025ba1; /* Màu sắc của dòng kẻ */
    margin: 0 0 20px 0;
}

/*Cuộn header*/

.sticky-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.5s;
    z-index: 1000; /* Để hiển thị trên các thành phần khác */
    pointer-events: none; /* Để tránh tương tác khi header ẩn */
}

.sticky-header.show {
    opacity: 1;
    pointer-events: auto; /* Để cho phép tương tác khi header hiện */
}

.pdf-container {
    height: 800px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.pdf-container iframe {
    width: 100%;
    height: 100%;
}

.anhbia{
    display: flex;
    margin-top: 20px; 
    margin-bottom: 20px;
    width: 100%;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.anhbia:hover {
    transform: scale(1.02); /* Phóng to ảnh khi hover */
}