body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    transition: opacity 0.3s ease;
}

.header {
    background-color: white;
    padding: 10px 0;
    position: relative; 
    z-index: 10;
}

.logo {
    display: flex;
    align-items: center;
    background-color: white; 
    padding: 5px 5px 15px 5px;
}

.ảnh {
    height: 90px; 
    margin-right: 20px; 
}

.title {
    white-space: nowrap; 
}

.line1, .line2 {
    display: block;
    color: #025ba1; 
    font-size: 20px; 
    font-weight: bold;
    margin-top: -10px;
}

.line2 {
    font-size: 16px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 5px 5px 15px 5px;
}


.hotline {
    font-size: 18px;
    color: #025ba1;
    font-weight: bold;
}

.email {
    font-size: 18px;
    color: #025ba1;
    font-weight: bold; 
}

.hotline img {
    width: 33px; 
    height: auto; 
    vertical-align: middle;
}
.email img {
    width: 33px; 
    height: auto; 
    vertical-align: middle; 
}
.facebook img {
    width: 33px; 
    height: auto; 
    vertical-align: middle; 
}
.youtube img {
    width: 41px; 
    height: auto; 
    vertical-align: middle; 
}
.search img {
    width: 38px; 
    height: auto; 
    vertical-align: middle; 
}

.navbar .email {
    margin-left: 20px; 
    margin-right: 20px;
}
.navbar .youtube {
    margin-left: 20px; 
    margin-right: 20px;
}

.search-bar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #025ba1;
    padding: 10px 0;
    text-align: center;
    transform: translateY(-100%);
    transition: transform 0.5s ease;
    z-index: 1000;
}
.search-bar-container.active {
    transform: translateY(0);
}
.search-bar {
    width: 70%;  /* Adjusted to make space for the button */
    padding: 10px;
    border: 1px solid #ccc;
    vertical-align: middle;
}
.search-button {
    padding: 10px;
    border: none;
    background-color: #004080;
    color: white;
    cursor: pointer;
    font-size: 16px;
    vertical-align: middle;
}
.search-button:hover {
    background-color: #003366; 
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    transition: padding-top 0.5s ease;
}
.container.search-active {
    padding-top: 60px; /* Adjust this value based on the height of your search bar container */
}

.tieude {
    display: flex;
    width: 100%;
    background-color:#025ba1;
    flex: 100%;
    padding: 0px;
    align-items: center;
    justify-content: center;
}

.tieude a {
    color: white;
    padding: 14px 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tieude a:hover {
    background-color:#fff;
    color: #025ba1;
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.tieude #selected {
    background-color:#fff;
    color: #025ba1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #025ba1;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
    min-width: 150px;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
    text-align: left;
    white-space: nowrap;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.dropdown-content a:hover {
    background-color: #fff;
    color: #025ba1;
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.sub-dropdown {
    position: relative;
}

.sub-dropdown-content {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #025ba1;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
    min-width: 150px;
}

.sub-dropdown-content a {
    padding: 12px 16px;
    color: white;
    text-decoration: none;
    display: block;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.sub-dropdown-content a:hover {
    background-color: #fff;
    color: #025ba1;
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.sub-dropdown:hover .sub-dropdown-content {
    display: block;
}

.header{
    margin-bottom: 0;
    padding-bottom: 0;
}

footer {
    background-color: #025ba1;
    color: white;
    padding: 20px 0;
}

.chantrangweb {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-column {
    flex: 1;
    margin: 0 10px;
}

.footer-column h3 {
    border-bottom: 2px solid white;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}

.textwidget ul {
    list-style: none;
    padding: 0;
}

.textwidget ul li {
    padding: 5px 0;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-size: 15px;
}

.textwidget ul li:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.map-container {
    width: 100%;
    max-width: 600px;
}

.map-container iframe {
    width: 100%;
    height: 150px;
    border: 0;
}

.special-link {
    color: white; 
    text-decoration: none; 
}
.special-link:hover {
    color: white; 
    text-decoration: none; 
}

/*Display*/

.display-container {
    display: flex;
    align-items: center;
    padding: 0;  
    height: auto; 
    height: 40px;
    justify-content: space-between;
}

.iconchatbox {
    width: 20px;
    height: auto;
}

.display {
    color: #025ba1;
    padding: 0 20px;
    display: flex;
    margin-left: 148px; 
    font-weight: bolder;
}

.display p{
    color:#025ba1;
    font-size: 16px;
}

.display p a{
    color: inherit; /* Kế thừa màu chữ từ phần tử cha (.display) */
    text-decoration: none; /* Bỏ gạch chân cho đường liên kết */
    transition: transform 0.3s ease; /* Hiệu ứng chuyển đổi màu khi hover */
}

hr.dongke {
    border: 0;
    height: 2px; /* Độ dày của dòng kẻ */
    background-color: #025ba1; /* Màu sắc của dòng kẻ */
    margin: 0 0 20px 0;
}

/* Định dạng cho thẻ main */
main {
    padding: 0;
}

a {
    text-decoration: none; 
    color: inherit; 
}

/* Định dạng cho các phần tử chứa nội dung */
.back, .back1 {
    width: 100%;
    height: 440px;
}

.back {
    background-color: #fff;
}

.back1 {
    background-color: rgba(214, 235, 248, 0.445);
}

.thongbao, .congnghethongtin, .congnghedaphuongtien, .tinhocungdung, .khoahoccongnghe {
    display: flex;
    justify-content: space-between; /* Căn các phần tử con sang hai bên của khung */
    align-items: flex-start; /* Căn các phần tử con theo trục dọc, bắt đầu từ đầu */
    padding: 10px; /* Đặt khoảng cách bên trong khung chứa */
    margin: 0 auto;
    width: 1200px;
}

.anh_thongbao, .anh_cntt, .anh_cndpt, .anh_tinhocungdung, .anh_khoahoccongnghe {
    flex: 1;
    margin: 13px;
    position: relative; /* Đảm bảo hình ảnh nằm trong vùng chứa của nó */
    overflow: hidden; /* Đảm bảo hình ảnh không tràn ra ngoài vùng chứa */
    border-radius: 10px;
}

.noidung, .noidung1 {
    flex: 1;
    margin: 10px;
    max-width: 600px;
    padding: 20px;
}

.anh_thongbao img, 
.anh_cntt img, 
.anh_cndpt img, 
.anh_tinhocungdung img, 
.anh_khoahoccongnghe img {
    width: 100%; /* Đảm bảo hình ảnh bao phủ toàn bộ vùng chứa */
    height: auto;
    transition: transform 0.4s ease-in-out; /* Hiệu ứng chuyển tiếp mượt mà */
}

.zoom:hover {
    transform: scale(1.1); /* Phóng to hình ảnh lên 1,1 lần kích thước ban đầu */
}

/* Định dạng cho các tiêu đề */
.noidung h2, .noidung1 h2 { 
    color: #004080;
    font-size: 28px;
}

.noidung h2:hover, .noidung1 h2:hover { 
    text-decoration: underline;
    color: #025ba1;
}

/* Định dạng cho các danh sách */
.noidung ul, .noidung1 ul {
    list-style-type: none;
    padding: 0;
    list-style-type: disc; /* Dấu chấm trước mỗi mục */
    padding-left: 40px; /* Khoảng cách giữa dấu chấm và viền trái */
}

.noidung ul li, .noidung1 ul li {
    margin-bottom: 10px;
    color: #004080;
    font-weight: bold;
    font-size: 17px;
}

/* Định dạng cho các nút bấm */
.button {
    padding: 10px 20px;
    color: #004080; /* Chữ xanh */
    font-weight: bold;
    border: 2px solid #004080; /* Viền xanh */
    border-radius: 10px; /* Bo góc nút */
    cursor: pointer; /* Thay đổi con trỏ khi hover */
    transition: background-color 0.3s, color 0.3s; /* Hiệu ứng chuyển màu */
}

.button:hover {
    background-color: #025ba1; /* Nền xanh khi ấn vào */
    color: white; /* Chữ trắng khi ấn vào */
}

/*Cuộn header*/

.sticky-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.5s;
    z-index: 1000; /* Để hiển thị trên các thành phần khác */
    pointer-events: none; /* Để tránh tương tác khi header ẩn */
}

.sticky-header.show {
    opacity: 1;
    pointer-events: auto; /* Để cho phép tương tác khi header hiện */
}