
.content h2 {
    margin: 0 auto;
    color:#025ba1;
    text-transform: uppercase;
    text-align: justify;
}

.content h3 {
    text-transform: uppercase;
    margin-bottom: 0;
}

.content p, li, ul {
    text-align: justify;
    line-height: 24px;
    font-weight: 400;
    word-wrap: break-word;
    margin: 5px 0 5px 0;
    line-height: 1.5;
}

hr{
    color: #025ba1;
}

.article-meta {
    display: flex;
    color: #636363;
    font-size: 0.9em;
    margin-bottom: 10px; 
    margin-top: 5px;/* Thêm khoảng cách giữa h3 và meta info */
}

.article-meta .date {
    margin-left: 5px;
    margin-right: 20px;
}

.article-meta .views {
    margin-left: 5px;
}

img{
    width: 100%;
    height: auto;
    padding-top: 5px;
}

.video iframe{
    width: 560px;
    height: 315px;
    text-align: center;
}

.video {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

figcaption{
    font-size: 14px;
    font-style: italic;
    text-align: center;
    padding: 10px 0;
}

/*Mục comment*/
.comment-sectionkh {
    width: 100%;
    margin: 50px 0;
}

.comment-headerkh {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#comments-containerkh {
    border: 1px solid #ccc;
    padding: 10px;
    max-height: 400px;
    overflow-y: auto;
}

.comment-inputkh {
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 10px;
}

.commentkh {
    display: flex;
    align-items: center;
    background-color: #e6f7ff; /* Nền màu xanh nhạt */
    border: 1px solid #b3d7ff;
    border-radius: 6px; /* Bo góc 6px */
    padding: 10px;
    margin-bottom: 10px;
}

.comment-datekh {
    margin-bottom: 10px;
    align-self: flex-start; /* Canh ngày ở đầu */
}

.commentkh p {
    margin: 0;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.comment-detailskh p {
    text-align: justify;
}

#comment-textkh {
    flex-grow: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
}

#post-commentkh {
    padding: 10px 20px;
    color: white;
    background-color: #025ba1;
    border-color: #025ba1;
    cursor: pointer;
    border-style: none;
}

#sort-commentskh {
    color: white;
    background-color: #025ba1;
    border-color: #025ba1;
    cursor: pointer;
    border-style: none;
    padding: 5px;
    border-radius: 5px;
}


